<div class="container" ng-controller="DetailPageController">

    

    <h2 id="businessTitile" class="text-primary">{{businessRichData.id}}</h2>

    <div class="row">
        
        <div class="col-sm-4" id="slides_control">
            <uib-carousel interval="myInterval" active="active">
                <uib-slide ng-repeat="slide in slides" active="active" index="$index">
                    <img class="corouselImage" ng-src="{{slide}}" style="margin:auto;" />
                    <div class="carousel-caption">
                        <h4>Slide {{$index+1}}</h4>
                    </div>
                </uib-slide>
            </uib-carousel>
        </div>
        
        <div class="col-sm-4">
            <div class="rating-block">
                <h4>Average user rating</h4>
                <h2 class="bold">{{businessRichData.rating}} / 5</h2>
                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="row" ng-repeat="businessReview in businessReviews">
        <div class="col-sm-4 col-lg-9">
            <hr/>
            <div class="review-block">
                <div class="row" >
                    <div class="col-sm-4">
                        <img ng-src={{businessReview.user.image_url}} class="img-rounded">
                        <div class="review-block-name"><a href="#">{{businessReview.user.name}}</a></div>
                        <div class="review-block-date">{{businessReview.time_created}}
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-9">
                        <div class="review-block-rate">
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="review-block-title">
                            {{businessReview.text}}
                        </div>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>

</div>