<div ng-controller="HomePageController">
    <div class="row">
        <div class="col-sm-6">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" ng-model="searchLocation" class="form-control" placeholder="Search on location">
                    <span class="input-group-addon">
                    <button type="submit" ng-click="getSearchData()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" ng-model="searchTerm" class="form-control" placeholder="Search based on term">
                    <span class="input-group-addon">
                    <button type="submit" ng-click="getSearchData()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </div>
        </div>
        
    </div>
    </br>
    <div class="row">
        <a href="detail">
            <div class="col-sm-4" ng-repeat="business in searchData">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img ng-src={{business.image_url}} alt="" class="img-rounded img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4 ng-click="navToSecondPage(business)">
                            {{business.name}}</h4>
                            <small><cite title="San Francisco, USA">{{business.location.city}}<i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i>{{business.phone}}
                                <br />
                                <i class="glyphicon glyphicon-star-empty 
"></i><a href="http://www.jquery2dotnet.com">{{business.rating}}</a>
                                <br />
                                <i class="glyphicon glyphicon-thumbs-up"></i>{{business.review_count}}</p>
                            <!-- Split button -->
                            <!-- <div class="btn-group">
                                <button type="button" class="btn btn-primary">
                                    Social</button>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span><span class="sr-only">Social</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Twitter</a></li>
                                    <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                                    <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Github</a></li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </a>

    </div>
</div>